In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-1.1.5-cp36-cp36m-win_amd64.whl (8.7 MB)
Collecting numpy>=1.15.4
  Using cached numpy-1.19.5-cp36-cp36m-win_amd64.whl (13.2 MB)
Requirement already satisfied: pytz>=2017.2 in c:\users\01701886\appdata\local\anaconda3\envs\chatbotpython\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\01701886\appdata\local\anaconda3\envs\chatbotpython\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\01701886\appdata\local\anaconda3\envs\chatbotpython\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.17.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.19.5 pandas-1.1.5
Note: you may need to restart the kernel to use updated packages.

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)'),)': /packages/79/87/8bb36bd4ebae147612c73d1bdc1385db7beebb9eb141c4bfefb33f52c87c/pandas-1.1.5-cp36-cp36m-win_amd64.whl

In [4]:
pip install numpy

Requirement already satisfied: numpy in c:\users\01701886\appdata\local\anaconda3\envs\chatbotpython\lib\site-packages (1.19.5)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#- **Series:Vetor unidimensional com índice.
#DataFrame:Tabela bidimensional com colunas e linhas.
import pandas as pd

import numpy as np

from pandas  import Series, DataFrame

In [ ]:
#O np.arange é uma função do NumPy, uma biblioteca de Python muito usada para manipulação de arrays e operações matemáticas. 
# Ela é usada para gerar uma sequência de números

dados = np. arange(10)

print(dados)

[0 1 2 3 4 5 6 7 8 9]

In [14]:
dados.reshape(1, -1)

array([[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [3]:
import pandas as pd

indice = [linha for linha in range(1, 9)]

serie = pd.Series(indice)
print(serie)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [ ]:
import pandas  as pd 

serie = pd.Series([1, 2, 3, 4, 5])

print(serie)

linha = pd.Series(1)
 print(linha)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
dtype: int64

In [18]:
import pandas as pd  # Correto
import numpy as np

np.random.seed(123)
indices = np.arange(10)
colunas = ['A', 'B', 'C', 'D']

df = pd.DataFrame()  # Cria um DataFrame vazio
print(df)

Empty DataFrame
Columns: []
Index: []

In [19]:
import numpy as np  # Importa a biblioteca NumPy
import pandas as pd  # Importa a biblioteca Pandas

np.random.seed(25)  # Define uma semente para gerar números aleatórios, garantindo reprodutibilidade

# Definição dos índices das linhas do DataFrame
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4', 'linha 5', 'linha 6']

# Definição dos nomes das colunas do DataFrame
colunas = ['coluna 1', 'coluna 2', 'coluna 3', 'coluna 4', 'coluna 5', 'coluna 6']

# Gera 36 números aleatórios entre 0 e 1 e os organiza em uma matriz 6x6
dados = np.random.rand(36).reshape((6,6))

# Cria um DataFrame do Pandas com os dados gerados, definindo os índices e colunas
df = pd.DataFrame(dados, index=indice, columns=colunas)

# Exibe o DataFrame
df

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
linha 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
linha 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
linha 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
linha 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
linha 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [21]:
df.loc[['linha 2', 'linha 3', 'linha 4'], ['coluna 2', 'coluna 3', 'coluna 5']]

         coluna 2  coluna 3  coluna 5
linha 2  0.437611  0.556229  0.402366
linha 3  0.585445  0.161985  0.326051
linha 4  0.836375  0.481343  0.383048

In [23]:
serie.loc['linha 3':'linha 7']

Series([], dtype: int64)