In [ ]:
import pandas as pd 

import numpy as np

from pandas  import Series, DataFrame

In [3]:
np.random.seed(25)
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4', 'linha 5']
colunas = ['coluna 1', 'coluna 2', 'coluna 3', 'coluna 4', 'coluna 5']
df = pd.DataFrame(np.random.rand(5, 5), index=indice, columns=colunas)
df

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5
linha 1  0.870124  0.582277  0.278839  0.185911  0.411100
linha 2  0.117376  0.684969  0.437611  0.556229  0.367080
linha 3  0.402366  0.113041  0.447031  0.585445  0.161985
linha 4  0.520719  0.326051  0.699186  0.366395  0.836375
linha 5  0.481343  0.516502  0.383048  0.997541  0.514244

In [4]:
df<.2

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5
linha 1     False     False     False      True     False
linha 2      True     False     False     False     False
linha 3     False      True     False     False      True
linha 4     False     False     False     False     False
linha 5     False     False     False     False     False

In [ ]:
#importar bibliotecas necessÃ¡rias para o projeto 

import pandas as pd
import numpy as np

indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4', 'linha 5', 'linha 6']
series_objeto = pd.Series(np.arange(6), index=indice)

print(series_objeto)

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
dtype: int32

In [7]:
Filtro = series_objeto > 3
series_objeto[Filtro]

linha 5    4
linha 6    5
dtype: int32

In [8]:
series_objeto['linha 2':'linha 5'] =  8
series_objeto

linha 1    0
linha 2    8
linha 3    8
linha 4    8
linha 5    8
linha 6    5
dtype: int32